*{
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

body {
  background-image: url(images/gray.png);
}

/* TARGET BODY FOR BARB WIRE BACKGROUND W OPACITY*/



/* LOGO ON TOP */
header {
  height:100px;
  background-image: linear-gradient(#404040, #a81313);
}
h1 {
  text-align:center;
  padding-top:10px;
}


/* LOGO ON TOP */

/* NAVIGATION */
table {
  border-top: 2px black solid;
  border-bottom: 1.5px black solid;
  font-weight: bold;
  text-align:center;
  width: 100%;
  table-layout: fixed;
  text-align:center;
}

table tr {
/* ADD GRADIENTS */
  background-image: linear-gradient(#b70000, #1f1f1f); 
  list-style-type: none; 
  flex-direction: column;
  margin: 0;
  padding:0; 
  text-align: center;
}

table td{
  padding: 15px;
  border-top: solid 0.5px black;
  border-bottom: solid 0.5px black;
  border-right: 4px solid black;
  text-align: center;
  cursor: pointer;
}

table td:hover {
  background-image: linear-gradient(#404040, #a81313);
}



table a:link{
  font-family:Rock Salt;
  color: #dcdad7;
  text-decoration: none;
}
table a:visited{
  color:#dcdad7;
}

table a:hover{
  color: white;
}

table a:active{
  color: white;
}
/* NAVIGATION */

/* WELCOME TO PORTFOLIO HEADER PICTURE */
#homehero {
  background-image: url(images/gray.png);
  background-size: cover;
  border-bottom: 2px solid black;
}

#homehero h1{
  color: #ff0000;
  font-family:Rock Salt; 
  font-weight:bolder;
  font-size: 30px;
  text-shadow: 5px 5px 5px black;
  padding-top: 16px;

}
/* WELCOME TO PORTFOLIO HEADER PICTURE */



/* MAIN SECTION */ /* MAIN SECTION */
main {
  background-image: linear-gradient(#1f1f1f, #191919);
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

h2 {
  font-family: Rock Salt;
  padding-left: 40px;
  padding-bottom: 10px;
  color: #ff0000;
  text-decoration: underline;
}

.film1 {
  border: 4px solid #a81313;
  border-radius: 50px;
  margin-right: 8px;
}

.film2 {
  border: 4px solid #a81313;
  border-radius: 50px;
}

.photo-right {
  margin-top: 35px;
  padding-left:7px;
}


/* MAIN SECTION */ /* MAIN SECTION */

/* 3 BAR COLUMN INCLUDE HOBBIES */

.hobby-container {
  padding-top: 20px;
}

.hobby-desc {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  font-family: Rock Salt;
  color: #ff0000;
}

.hobby-img {
  max-width: 70%;
  max-height: 70%; 
  border-radius: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px #a81313 solid;
}

/* /3 BAR COLUMN INCLUDE HOBBIES */

/* INDEX GALLERY */

.gallery-container {
  padding-top: 20px;
}

.gallery .preview{
  width:65%;
  height: auto;
  margin: 0 auto;
  border: 0px solid #7e0e0e;
  margin-bottom: 15px;
}

.gallery .gallery-thumbnails img {
  width:100px;
  height:75px;
  margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
  opacity: .8;
  cursor: pointer;
}

.gallery .preview img#preview {
  padding: 1px;
  max-width: 100%;
  height: auto;
  margin: 0 auto !important;
  display: block !important;
}
/* INDEX GALLERY */

/* FOOTER */ /* FOOTER */
footer{
  background-image: linear-gradient(#a81313, #404040);
  color: white;
  font-size: 15px;
}
.footer1000 {
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 10px;
  padding-bottom: 17px;
}

.footer-bottom {
  background-color: black;
  text-align:center;
  height: 60px;
  font-size: 10px;
}


/* FOOTER ICONS */ /* FOOTER ICONS */
.fa-linkedin-square {
  margin-bottom: 14px;
  color: white;
  padding-right: 10px;
}

.fa-github-square {
  margin-bottom: 14px;
  color: white;
  padding-right: 10px;
}

.fa-envelope-o {
  margin-bottom: 14px;
  color: white;
  padding-right: 10px;
}
/* FOOTER ICONS */ /* FOOTER ICONS */
/* FOOTER */ /* FOOTER */

/*RESUME CSS RESUME CSS*/
.resume-main {
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 20px;
}

.resume-h1{
  text-align: left;
  line-height: 70px;
  letter-spacing: 2px;
  font-family: Rock Salt;
  color: #ff0000;
  text-decoration: underline;
}

.resume-info {
  margin-top:0px;
  padding-top:0px;
  line-height: 3px;
}

.para2 {
  line-height: 25px;
  text-align: left;
  padding-left:20px;
}

.vl {
  border-left: 4px solid white;
}

h4 {
  color:#ff0000;
  font-weight:500;
  text-decoration: underline;
}
/*RESUME CSS RESUME CSS*/


/* GALLERY CSS*/ /* GALLERY CSS*/
.camera-gallery {
  border: 3px solid #a81313;
  border-radius: 50px;
}

.margin-top{
  margin-top: 20px;
} 

/* GALLERY CSS*/ /* GALLERY CSS*/



/*PORTFOLIO CSS*/ /*PORTFOLIO CSS*/

.padding-bottom {
  padding-bottom: 20px;
}

.portfolio-header {
  margin-left: 20px;
}

/*PORTFOLIO CSS*/ /*PORTFOLIO CSS*/

/* MEDIA QUERYS *//* MEDIA QUERYS */

#mobile{
  display: inline;
}
#not-mobile{
  display: none;
}

@media only screen and (max-width: 600px){
  table tr{
    display: flex;
  }
}

@media only screen and (min-width: 600px){
  /*The CSS will work ONLY IF the screen size is bigger than 600px */
    h1{
      font-size: 2em;
      letter-spacing: 0.25em;
    }

    table tr{
      flex-flow:row nowrap;
      justify-content: space-around;
      padding-right: 2em;
    }

    #homehero {
      height:100px;
    }

    .leftpad {
      padding-left: 20px;
    }

    #mobile{
      display: none;
    }
  }

  @media only screen and (max-width: 1120px){

    .photo-right{
      display: none;
    }
  }



  /* MEDIA QUERYS *//* MEDIA QUERYS */

