@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
p {
  font-family: 'Times New Roman', Times, serif
}
body{
  font-family: 'Montserrat', sans-serif;
}



a:link{
  color: white;
  }
  a:visited{
  color: purple;
  }
  a:hover{
  color: blue;
  }
  a:active{
  color: black;
  }  

nav ul{
  list-style-type: none;
  text-align: center;
}
nav li{
  display: inline;
}
nav a{
  text-decoration: none;
  padding-right: 10px;
}
nav a:link{
  color: white;
}
nav a:visited{
  color:white;
}
nav a:hover{
  color:lightgray;
}
nav a:active{
  color:gray;
}

h1{
  text-align: center;
  font-size: 4em;
  color:rgb(3, 3, 153);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:bold;
  text-align: center;
  padding:5px;
  border-bottom: #000000 solid ;
  color: white;
  background-color:rgb(51, 51, 215);
  clear: both;
}



nav{
  background-color:rgb(51, 51, 215);
  border-top: 1.5px black solid;
  border-bottom: 1.5px black solid;
}

header {
  background-color: black;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

main{
  max-width: 1000px;
  margin: 20px auto;
}

footer{
  text-align: center;
  border-top: 1px solid gray;
  background-color:rgb(51, 51, 215);
}


.logo {
  max-width: 275px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}


#home-hero{
  background-image: url(images/guitars.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

#home-hero h1{
  text-align: center;
  color: rgb(51, 51, 215);
  text-shadow: 2px 2px 2px black;
  margin: 0;
  padding: 10px;
  background-color: rgba(0,0,0,.5);
}

table {
  border-collapse: collapse;
  margin:0 auto;
  border: 5px solid black;
}
tr:nth-child(even){
  background-color:#eeeeee;
}

th{
  background-color: rgb(51, 51, 215);
  color: white;
  padding: 10px;
  border-bottom: 5px solid #000000;
}

td {
  border: 1px solid #dddddd;
  padding: 10px;
}

label {
  float: left;
  width: 8em;
  padding-right: 1em;
}

small {
  color: white;
}

.table-class {
 margin-left:1px;
}

.float-right {
  float:right;
  max-width: 40%;
  height: auto;
  margin-left:30px;
  border: 5px solid black;
}


@media only screen and (max-width: 1024px){
  h1{
    font-size: 2em;
  }
}

@media only screen and (max-width: 768px){
  h1{
    font-size: 1.5em;
  }
}

input, textarea {
  margin-bottom: 1em;
  display:block;
}

input[type=submit]{
  display:block;
  background-color: lightgray;
}

.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
